* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

body {
     font-family: "Rubik", sans-serif;
     background-color: black;
     color: white;
}

.container {
     width: 100%;

}

.head {
     font-family: "Rubik", sans-serif;
     background-image: url(netflix.bg.jpg);
     background-repeat: repeat no-repeat;
     background-position: center;
     background-size: cover;
     background-color: rgb(0, 0, 0, 0.7);
     background-blend-mode: color;
     height: 100vh;

}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 10px 40px;

}

.logo {
     width: 200px;
}

.sign-in {
     padding: 10px 15px;
     background-color: rgb(238, 16, 16);
     color: white;
     border: none;
     border-radius: 5px;
     margin: 40px;
     font-weight: bold;
     font-size: 15px;
}

.sign-in a {
     color: white;
     text-decoration: none;
}

.sign-in:hover {
     background-color: rgb(226, 46, 46);
}

.hero {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     margin: 50px;
     align-content: center;
}

.hero h1 {
     font-size: 60px;
     font-weight: 900;
     margin-top: 50px;
}

.hero h2 {
     font-size: 20px;
     font-weight: 700;
     margin-top: 30px;
}

.hero p {
     font-size: 15px;
     padding-top: 10px;
     margin-top: 30px;
}


.btn {
     display: flex;
     justify-content: center;
     padding: 20px;
     margin-bottom: 10px;

}

.btn input {
     padding: 15px;
     background-color: #1f1c1c;
     width: 400px;
     border-radius: 4px;
     font-size: 18px;
     margin-right: 10px;
     border: none;
}

.btn button {
     background-color: red;
     color: aliceblue;
     padding: 10px 14px;
     border: none;
     border-radius: 4px;
     font-size: 17px;
     font-weight: bold;
}


.movies h3 {
     font-size: 25px;
     margin: 20px;
}

.Trending-list {
     display: flex;
     gap: 20px;
     padding-bottom: 20px;
     justify-content: center;
}

.Trending-list img {
     border-radius: 15px;
     transition: transform 0.1s;
}

img:hover {
     transform: scale(1.1);
}

.options {
     display: flex;
     justify-content: center;
     align-items: center;
}

.options h3 {
     font-size: 25px;
     margin: 20px;
}

.reasons-list {
     display: flex;
     justify-content: center;

     flex-direction: row;
     width: 100%;
     max-width: 1200px;
     gap: 20px;
     flex: 1;
}



.reason-1 {
     background: linear-gradient(to right, #6b0d50, #1b0431);
     width: 25%;
     text-align: start;
     padding: 20px;
     border-radius: 10px;
}

.reason-2 {
     background: linear-gradient(to right, #6b0d50, #1b0431);
     width: 25%;
     text-align: start;
     padding: 20px;
     border-radius: 10px;

}

.reason-3 {
     background: linear-gradient(to right, #6b0d50, #1b0431);
     width: 25%;
     text-align: start;
     padding: 20px;
     border-radius: 10px;

}

.reason-4 {
     background: linear-gradient(to right, #6b0d50, #1b0431);
     width: 25%;
     text-align: start;
     padding: 20px;
     border-radius: 10px;

}

.faq-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}



.faq-cont {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 25px;
     margin-bottom: 10px;
     width: 100%;
     max-width: 1200px;
     background-color: #303030;
     font-size: 24px;
}

.faq-cont .plus {
     font-size: 30px;
}

.footer-text {
     text-align: center;
     margin-top: 28px;
     font-size: 15px;
}